body, p, a, button, h1, h2, h3 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    background: none;
}
html {
}
.header {
    background-color: #f8f8f8;
    padding: 20px 10% 0 10%;
    color: #777;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    box-shadow: 0 3px 5px #e8e8e8;
}

@media screen and (max-width: 680px) {
    .header h1 {
        font-size: 20px;
    }
    .nav-bar {
        gap: 5px
    }
}
@media screen and (min-width: 680px) {
    .header h1 {
        font-size: 30px;
    }
    .nav-bar button {
        font-size: 15px;
    }
    .nav-bar {
        gap: 15px
    }
    .help-btn .helpbtn-label {
        font-size: 12px;
    }
}
@media screen and (min-width: 1075px) {
    .header h1 {
        font-size: 50px;
    }
    .nav-bar button {
        font-size: 20px;
    }
    .nav-bar {
        gap: 20px
    }
    .help-btn .helpbtn-label {
        font-size: 15px;
    }
    .desc-text {
        max-width: 100%;
        left: -100%;
    }
}
.header h1 {
    color: #777777;
    font-weight: bold;
    padding-bottom: 5px;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-bar button {
    color: #777;
    cursor: pointer;
    transition: all 0.5s;
}
.nav-bar button:hover {
    color: #008fff;
}
.contents {
    padding: 30px 10% 30px 10%;
}
h2 {
    font-size: 30px;
    color: #424242;
    padding-bottom: 15px;
    border-bottom: 1px solid #d0d0d0;
}
/*demo*/
.demo-description {
    margin-top: 30px;
    padding-bottom: 30px;
    color: #5e5e5e;
    font-size: 17px;
    border-bottom: 1px solid #d0d0d0;
}
#demo-function {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #d0d0d0;
    position: relative;
}
/*help*/
.help-div {
    border-bottom: 1px solid #d0d0d0;
    width: 100%;
    padding: 20px 0;
}
.help-notice {
    color: #5e5e5e;
    margin-bottom: 15px;
}
.help-btn {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    justify-content: space-around;
    margin-top: 5px;
    gap:10px;
}
.help-btn button {
    height: 100%;
    width: 50%;
    cursor: pointer;
    background: #303f4e;
}
.helpbtn-label {
    color: #ededed;
    text-decoration: none;
    width: 100%;
    padding: 6.5px 0;
    font-size: 10px;
    margin: 0 auto;
}
.help-btn .desc-text {
    top: -400% !important;
    left: 0 !important;
    width: max-content;
    word-break: keep-all;
    max-width: none;
    background-color: rgba(128,128,128,1);
}
/*table*/
#inputDiv {
    border-right: 1px solid #d0d0d0;
    width: calc(30% - 30px);
    padding: 39px 30px 0 0;
}
#user-input {
    color: #424242;
    font-size: 16px;
    width: 100%;
    border-spacing: 0;
}
#user-input tr {
    height: 40px;
}
#user-input th {
    width: max-content;
}
#user-input td {
    width: 50%;
    border: 1px solid #000;
    border-bottom: none;
    padding: 0;
}
#user-input tr:nth-child(6) td:last-child {
    border-bottom: 1px solid #000;
}
#user-input input {
    border: none;
    text-align: center;
    padding: 11px 0;
    height: 100%;
    width: 100%;
    outline: none;
}
#user-input tr:last-child {
    height: 80px;
}
.add-desc {
    position: relative;
}
.desc-text {
    display: none;
    position: absolute;
    background-color: rgba(28,28,28,0.56);
    color: #fff;
    left: -50%;
    max-width: 50%;
    top: 0;
    font-size: 14px;
    word-break: keep-all;
    text-align: left;
    padding: 10px;
}
.add-desc:hover .desc-text{
    display: block;
}
.subscription {
    font-size: 10px;
    display: inline-block;
    vertical-align: bottom;
}
.submit-btn {
    background-color: #374047;
    width: 100%;
    height: 40px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.3s;
}
.submit-btn:hover {
    background-color: #f8f8f8;
    color: #008fff;
}
/*result*/
#result-data {
    padding: 30px;
    width: calc(40% - 60px);
    color: #424242;
}
#result-data table {
    width: 100%;
    text-align: center;
    border-spacing: 0;
    margin-top: 3px;
    border-collapse: collapse;
}
#result-data table td {
    border: 1px solid #000;
    border-collapse: collapse;
}
#result-data tr {
    height: 50px;
}
#result-data th {
    width: max-content;
}
#result-data td {
    width: 50%;
    padding: 0;
}
#result-comment {
    margin-top: 15px;
    color: red;
    font-size: 17px;
}
.graph-section {
    width: 40%;
    padding: 30px 0 30px 2%;
    height: max-content;
    text-align: center;
    border-left: 1px solid #d0d0d0;
}
.graph-section p {
    padding-left: 20%;
    font-size: 18px;
    font-weight: bold;
    color: #424242;
}
#data-graph {
    width: 100%;
    height: fit-content;
    max-height: 300px;
    margin: 15px 0;
}
#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255,255,255, 0.5);
}
.graph-bottomRow {
    display: none;
    width: 80%;
    height: 400px;
    margin: 20px auto;
}
.graph-bottomRow p {
    padding-left: 10%;
    font-size: 18px;
    font-weight: bold;
    color: #424242;
    text-align: center;
}
.container {
    height:100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 5rem 1rem;

}
@keyframes rotate{
    100% {
        transform: rotate(360deg);
    }
}
.loader-2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #4c9de7;
    border-color: #4c9de7 transparent #4c9de7 transparent;
    animation: rotate 32s linear infinite;
}
/*about*/
.about-description {
    margin: 30px 0;
    color: #5e5e5e;
    font-size: 17px;
}
.about-button {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.about-button button {
    background-color: #374047;
    width: 200px;
    height: 40px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.3s;
}
.about-button button:hover {
    background-color: #f8f8f8;
    color: #008fff;
}
/*contact*/
.contact-text {
    color: #5e5e5e;
    font-size: 16px;
    line-height: 35px;
}
.contact-text li {
    list-style-type: disc;
}
